.search-form {
  display: flex;
  overflow: hidden;
  margin: 0 0 32px;
  border-radius: 4px;
  border: 1px solid $color__border;

  &.search-form_success {
    border-color: $color__danger;

    .search-form__btn_type_submit {
      color: $color__danger !important;
    }
  }

  &.search-form_active {
    .search-form__btn_type_close {
      display: flex;
    }
  }
}

.search-form__btn {
  @extend %btn-default;
  @include wh(40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color__light;

  &.search-form__btn_type_submit {
    order: 1;
  }

  &.search-form__btn_type_close {
    order: 3;
    color: #c8c8c8;
    display: none;
  }

  &:disabled {
    opacity: .5;
    cursor: default;
  }
}

.search-form__field {
  @include fs-lh(18px,1);
  font-family: $font-family__default;
  order: 2;
  border: 0;
  flex-grow: 1;
  padding: 8px;

  &:focus {
    & + .search-form__btn_type_submit {
      color: $color__default;
    }
  }
}
