$font-family__default: 'Brandon-Grotesque-Regular', Arial, sans-serif;
$font-family__extended: 'Brandon-Grotesque-Bold', Arial, sans-serif;
$font-family__title: 'Brandon-Printed', Arial, sans-serif;
$font-family__alter: $font-family__default;
$font-size__default: 16px;

$line-height__default: 1;
$line-height__content: 1.4;

$color__default: #323232;
$color__light: #838383;
$color__danger: #EF5E3A;

$color__link: $color__default;
$color__link_hover: $color__default;

$color__border: #D6D6D6;
