include libs/mixins

block meta
  - var pageClass = '';
  - var title = 'Базовый шаблон';

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    title #{title}
    meta(name="keywords" content="")
    meta(name="description" content="")

    link(rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0569/5402/8172/t/4/assets/base.css")
    link(rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0569/5402/8172/t/4/assets/components.css")
    link(rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0569/5402/8172/t/4/assets/component-mega-menu.css")
    link(rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0569/5402/8172/t/4/assets/section-main-page.css")
    link(rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0569/5402/8172/t/4/assets/component-search.css")

  body(class=pageClass)
    block header
      include base/header.pug

    block wrapper

    block footer
      include base/footer.pug
